<!DOCTYPE html>
<html>
<head>
  <title>To-Do List</title>
</head>
<body>
  <h1>To-Do List</h1>
  <p>This page has been viewed <%= viewCount %> times.</p>
  <form action="/add-todo" method="post">
    <input type="text" name="newTodo" placeholder="New to-do item">
    <button type="submit">Add</button>
  </form>  
  
  <ul>
    <% todoList.forEach(function(item, index) { %>
      <li style="<%= item.done ? 'text-decoration: line-through;' : '' %>">
        <%= item.text %>
        <form action="/toggle-done" method="post" style="display:inline;">
          <input type="hidden" name="index" value="<%= index %>">
          <input type="checkbox" onClick="this.form.submit()" <%= item.done ? 'checked' : '' %>>
        </form>
        <form action="/delete-item" method="post" style="display:inline;">
          <input type="hidden" name="index" value="<%= index %>">
          <button type="submit">Delete</button>
        </form>
        <form action="/delete" method="post">
          <input type="hidden" name="index" value="<%= index %>">
          <button type="submit">Delete</button>
        </form>
        <form action="/toggle" method="post">
          <input type="hidden" name="index" value="<%= index %>">
          <button type="submit">Toggle</button>
        </form>
      </li>
    <% }); %>
  </ul>
</body>
</html>
